body{
    background-color: black;
}
h1{
    color:white;
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}
h2{
    color: white;
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
}
p{
    color: gray;
    font-family: Verdana;
    font-size: 21px;
    text-align: center;

}

a, a:visited{
    color:aquamarine;
}
a:link{
    color:aquamarine;
}
a:active{
    color: aquamarine;
}

.link{
    text-align: center;
}
.copyright{
    text-align: right;
}