body{
    background-color: black;
}
h1{
    color:white;
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

/*
a{
    color:aquamarine;
    text-align: center;
}
a:link{
    color:aquamarine;
    text-align: center;
}
a:visited{
    color:aquamarine;
    text-align: center;
}
*/

.link{
    text-align: center;
    color:aquamarine;
}